body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}
html{
    height: 100%;
}
#content{
    background-color: rgb(205, 183, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 0;
    flex: 1;
}
h1{
    font-size: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.title{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
}
p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}
.background-img{
    opacity: 0.6;
    filter: brightness(70%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.content-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.tabs{
    text-align: center;
}
.tabs>button{
    background: rgb(221, 208, 191);
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 18px;    
    font-weight: 400;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(201, 169, 127);
    color: white;
}

header{
    background-color: rgb(221, 208, 191);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card{
    width:370px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-text{
    width: 360px;
    height: 240px;
}
.p_about{
    text-align: left;
}
.about-content{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
